![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

### Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom


Utilize o dataset contido nesse [link](https://www.kaggle.com/datasets/upadorprofzs/testes), e responda as questões abaixo.

O dataset contém dados estatísticos do IBGE relativos à escolaridade, renda entre outros campos avaliados pela  PNAD (Pesquisa Nacional por Amostra de Domicílios).

Os dados podem representar informações relevantes e reveladoras sobre a distribuição de renda e possivelmente alguns indicadores sobre tais situações encontradas a partir dos dados.

### Variáveis

Código 	Descrição:

11 	Rondônia
12 	Acre
13 	Amazonas
14 	Roraima
15 	Pará
16 	Amapá
17 	Tocantins
21 	Maranhão
22 	Piauí
23 	Ceará
24 	Rio Grande do Norte
25 	Paraíba
26 	Pernambuco
27 	Alagoas
28 	Sergipe
29 	Bahia
31 	Minas Gerais
32 	Espírito Santo
33 	Rio de Janeiro
35 	São Paulo
41 	Paraná
42 	Santa Catarina
43 	Rio Grande do Sul
50 	Mato Grosso do Sul
51 	Mato Grosso
52 	Goiás
53 	Distrito Federal

---

Código 	Descrição:

0 	Masculino
1 	Feminino

---

Código 	Descrição:

0 	Indígena
2 	Branca
4 	Preta
6 	Amarela
8 	Parda
9 	Sem declaração

In [77]:
import pandas as pd

In [2]:
df = pd.read_csv('dados.csv')
df.sample(3)

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
15740  23     0     37    8               6   1200  1.727320
60218  42     0     23    2              13   1200  1.691865
9892   16     1     60    2               6    700  1.592029

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76840 entries, 0 to 76839
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UF              76840 non-null  int64
 1   Sexo            76840 non-null  int64
 2   Idade           76840 non-null  int64
 3   Cor             76840 non-null  int64
 4   Anos de Estudo  76840 non-null  int64
 5   Renda           76840 non-null  int64
 6   Altura          76840 non-null  float64
dtypes: float64(1), int64(6)
memory usage: 4.1 MB

In [4]:
df['Sexo'] = df['Sexo'].replace({0 : "masculino",
                                 1 : "feminino"})

In [5]:
df['Cor'] = df['Cor'].replace({0 : "indígena",
                               2 : "branca",
                               4 : "preta",
                               6 : "amarela",
                               8 : "parda",
                               9 : "sem_declaração"})

In [6]:
df.sample()

       UF       Sexo  Idade     Cor  Anos de Estudo  Renda    Altura
16724  23  masculino     61  branca               1    150  1.837257

# Exercícios

Qual a quantidade de pessoas nas seguintes faixas etárias
- 20 anos ou menos
- 21 a 35 anos
- 36 a 50 anos
- 51 a 65 anos
- maiores de 65 anos

In [7]:
faixas = [0, 20, 35, 50, 65, float('inf')]
categorias_idades = ['20 anos ou menos', '21 a 35 anos', '36 a 50 anos', '51 a 65 anos', 'maiores de 65 anos']

df['faixa_etaria'] = pd.cut(df['Idade'], bins = faixas, labels = categorias_idades, right = False)

contagem_por_faixa = df['faixa_etaria'].value_counts()

print(contagem_por_faixa)

faixa_etaria
36 a 50 anos          31795
51 a 65 anos          21511
21 a 35 anos          18789
maiores de 65 anos     4322
20 anos ou menos        423
Name: count, dtype: int64

Qual é a média de escolaridade em cada faixa etária?

In [8]:
df.groupby('faixa_etaria')['Anos de Estudo'].mean()

faixa_etaria
20 anos ou menos       9.314421
21 a 35 anos          10.836500
36 a 50 anos           9.837993
51 a 65 anos           8.423132
maiores de 65 anos     6.041879
Name: Anos de Estudo, dtype: float64

Qual a UF que concentra a maior renda?

In [9]:
(f"O Estado {df.groupby('UF')['Renda'].sum().idxmax()} concentra a maior renda, somando {df.groupby('UF')['Renda'].sum().max()} reias.")
# São Paulo

'O Estado 35 concentra a maior renda, somando 22539969 reias.'

In [10]:
# df.groupby('UF')['Renda'].sum()

Qual a renda média de pessoas pretas e brancas de homens e mulheres?

In [11]:
novo_df = df[['Cor','Sexo','Renda']]

cores_desejadas = ['preta', 'branca']
novo_df = novo_df[novo_df['Cor'].isin(cores_desejadas)]
# novo_df

pd.DataFrame(novo_df.groupby(['Cor','Sexo'])['Renda'].mean())

                        Renda
Cor    Sexo
branca feminino   2109.866750
       masculino  2925.744435
preta  feminino   1134.596400
       masculino  1603.861687

Qual a renda média nas faixas de anos de estudo abaixo?
- 2 anos ou menos
- 3 a 6 anos
- 7 a 10 anos
- 10 a 12 anos
- 13 anos ou mais

In [14]:
faixas_estudos = [0, 2, 6, 9, 13, float('inf')]
anos_estudos = ['2 anos ou menos', '3 a 6 anos', '7 a 10 anos', '10 a 12 anos', '13 anos ou mais']

df['faixa_anos_de_estudos'] = pd.cut(df['Anos de Estudo'], bins = faixas_estudos, labels = anos_estudos, right = False)

df.head()

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,faixa_etaria,faixa_anos_de_estudos
0,11,masculino,23,parda,12,800,1.603808,21 a 35 anos,10 a 12 anos
1,11,feminino,23,branca,12,1150,1.739790,21 a 35 anos,10 a 12 anos
2,11,feminino,35,parda,15,880,1.760444,36 a 50 anos,13 anos ou mais
3,11,masculino,46,branca,6,3500,1.783158,36 a 50 anos,7 a 10 anos
4,11,feminino,47,parda,9,150,1.690631,36 a 50 anos,10 a 12 anos

In [17]:
pd.DataFrame(df.groupby('faixa_anos_de_estudos')['Renda'].mean())

                             Renda
faixa_anos_de_estudos
2 anos ou menos         732.994187
3 a 6 anos             1027.102678
7 a 10 anos            1238.560884
10 a 12 anos           1691.500885
13 anos ou mais        4434.409106

Qual a renda média concentrada em cada faixa etária?

In [18]:
pd.DataFrame(df.groupby('faixa_etaria')['Renda'].mean())

                          Renda
faixa_etaria
20 anos ou menos     912.784870
21 a 35 anos        1715.471606
36 a 50 anos        2082.588426
51 a 65 anos        2178.064014
maiores de 65 anos  1856.341277

Qual a escolaridade entre indígenas, para homens e mulheres?

In [19]:
df.head()

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,faixa_etaria,faixa_anos_de_estudos
0,11,masculino,23,parda,12,800,1.603808,21 a 35 anos,10 a 12 anos
1,11,feminino,23,branca,12,1150,1.739790,21 a 35 anos,10 a 12 anos
2,11,feminino,35,parda,15,880,1.760444,36 a 50 anos,13 anos ou mais
3,11,masculino,46,branca,6,3500,1.783158,36 a 50 anos,7 a 10 anos
4,11,feminino,47,parda,9,150,1.690631,36 a 50 anos,10 a 12 anos

In [24]:
df_indigena = df[['Cor','Sexo','faixa_anos_de_estudos']]

# cores_desejadas = ['preta', 'branca']
df_indigena = df_indigena[df_indigena['Cor'].isin(['indígena'])]
# novo_df

pd.DataFrame(df_indigena.groupby(['Cor','Sexo'])['faixa_anos_de_estudos'].value_counts())

                                          count
Cor      Sexo      faixa_anos_de_estudos
indígena feminino  10 a 12 anos              42
                   13 anos ou mais           20
                   3 a 6 anos                16
                   7 a 10 anos               12
                   2 anos ou menos           11
         masculino 10 a 12 anos             113
                   3 a 6 anos                45
                   7 a 10 anos               39
                   2 anos ou menos           38
                   13 anos ou mais           21

Qual a média de anos de estudo entre brancos e negros?

In [28]:
df_pb = df[['Cor','Sexo','Anos de Estudo']]

cores = ['preta', 'branca']
df_pb = df_pb[df_pb['Cor'].isin(cores)]
# novo_df

pd.DataFrame(df_pb.groupby(['Cor','Sexo'])['Anos de Estudo'].mean())

                  Anos de Estudo
Cor    Sexo
branca feminino        11.297578
       masculino       10.140353
preta  feminino         9.522326
       masculino        8.514540

Qual a média de anos de estudo e de renda para mulheres brancas, e para mulheres negras?

In [30]:
df.sample(3)

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,faixa_etaria,faixa_anos_de_estudos
68173,50,masculino,37,branca,11,3000,1.740158,36 a 50 anos,10 a 12 anos
64413,43,feminino,41,parda,9,788,1.763581,36 a 50 anos,10 a 12 anos
41128,33,masculino,64,branca,12,3500,1.731615,51 a 65 anos,10 a 12 anos

In [38]:
mulheres = df[['Sexo','Cor', 'Anos de Estudo', 'Renda']]

cores = ['preta', 'branca']
mulheres = mulheres[mulheres['Cor'].isin(cores)]
sexo = ['feminino']
mulheres = mulheres[mulheres['Sexo'].isin(sexo)]

In [44]:
mulheres.head(3)

        Sexo     Cor  Anos de Estudo  Renda
1   feminino  branca              12   1150
8   feminino   preta              14   1800
12  feminino  branca               6   1200

In [56]:
media_estudos = pd.DataFrame(mulheres.groupby(['Cor','Sexo'])['Anos de Estudo'].mean())

In [57]:
media_renda = pd.DataFrame(mulheres.groupby(['Cor','Sexo'])['Renda'].mean())

In [58]:
media_renda.join(media_estudos)

                      Renda  Anos de Estudo
Cor    Sexo
branca feminino  2109.86675       11.297578
preta  feminino  1134.59640        9.522326

 Qual é a UF com maior média de escolaridade e qual a UF com maior média de renda?

In [59]:
df.sample(3)

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura,faixa_etaria,faixa_anos_de_estudos
12217,21,feminino,63,parda,8,0,1.834283,51 a 65 anos,7 a 10 anos
2520,13,masculino,62,parda,1,400,1.655181,51 a 65 anos,2 anos ou menos
21048,26,masculino,50,parda,12,1500,1.755129,51 a 65 anos,10 a 12 anos

In [66]:
id_maior_renda = df.groupby('UF')['Renda'].mean().idxmax()
valor_maior_renda = df.groupby('UF')['Renda'].mean().max()

(f"O estado {id_maior_renda} (Distrito Federal) tem a maior média de renda, somando {valor_maior_renda} reais.")

'O estado 53 (Distrito Federal) tem a maior média de renda, somando 4241.954722492697 reais.'

In [68]:
id_estado_escolaridade = df.groupby('UF')['Anos de Estudo'].mean().idxmax()
media_escolaridade = df.groupby('UF')['Anos de Estudo'].mean().max()

(f"O estado {id_estado_escolaridade} (Distrito Federal) tem a maior média de esolaridade, somando {media_escolaridade} anos.")

'O estado 53 (Distrito Federal) tem a maior média de esolaridade, somando 11.910418695228822 anos.'

Elabore você uma pergunta sobre a base de dados e escreva o código para responder a pergunta.

#### Pergunta Elaborada

**Qual é a renda média de mulheres indígenas?**

In [73]:
mulheres_indigenas = df[['Sexo','Cor', 'Renda']]

cores = ['indígena']
mulheres_indigenas = mulheres_indigenas[mulheres_indigenas['Cor'].isin(cores)]
sexo = ['feminino']
mulheres_indigenas = mulheres_indigenas[mulheres_indigenas['Sexo'].isin(sexo)]
mulheres_indigenas.head(3)

          Sexo       Cor  Renda
901   feminino  indígena    900
1601  feminino  indígena      0
2283  feminino  indígena    500

In [76]:
print(f'A renda média de mulheres indígenas é: {mulheres_indigenas["Renda"].mean()}.')

A renda média de mulheres indígenas é: 2464.3861386138615.